@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Formação: A partir do zero: HTML e CSS para projetos web</h1>
</div>
<div class="container col-md-8">
    <ul class="list-group">
        <li class="list-group-item active text-center">O que aprendi nesta formação:</li>
        <li class="list-group-item">Ferramentas de desenvolvimento de <strong><em>layouts</em></strong> (ex: <strong>Figma</strong>) e publicação (ex: <strong>Github</strong>)</link>
        <li class="list-group-item">Estruturar uma página web com <strong><em>tags</em></strong> <strong>HTML</strong></li>
        <li class="list-group-item">Compreender como <strong>HTML</strong> e <strong>CSS</strong> trabalham juntos</li>
        <li class="list-group-item">Descobrir como organizar o conteúdo com arquivos <strong>HTML</strong></li>
        <li class="list-group-item">Organizar uma página com <strong>CSS Flexbox</strong></li>
        <li class="list-group-item">Criar cabeçalhos, rodapés e aplicar estilos com <strong>CSS</strong></li>
        <li class="list-group-item">Tornar seu site <strong>responsivo</strong> para diferentes tamanhos de tela</li>
    </ul>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center">
                    Curso Nº 1<br />
                    HTML e CSS: ambientes de desenvolvimento, estrutura de arquivos e tags
                </h5>
                <p class="card-text text-center">Carga Horária 8h</p>
                <a href="~/CursoUm/Portfolio" class="btn btn-primary">Ver páginas criadas</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>

